**/__pycache__
.eggs/
credentials
.vscode
.envrc
cdh.egg-info/
.idea
**/.DS_Store
build
dist1
out/
venv/
infrastructure/.terraform/
infrastructure/terraform.tfstate.backup
VERSION-BINARY
cdh.spec
.github/*/**
